Repository canonical/ubuntu-pro-client, pull requests merged in 2019-10, with the labels that each got.

#802 d/postrm: only need to purge config files dynamically created
  debian/postrm
Labels: packaging

#834 livepatch: fix minKernelVersion comparison to account for major.minor
  uaclient/entitlements/base.py
  uaclient/entitlements/tests/test_livepatch.py
Labels: bug

#767 Introduce integration testing driven by behave
  README.md
  features/steps/steps.py
  features/unattached_commands.feature
  features/unattached_status.feature
  mypy.ini
  test-requirements.txt
  tox.ini
Labels: testing

#875 d/changelog: 19.6 entries
  debian/changelog
Labels: packaging

#887 .travis.yml: add integration test run
  .travis.yml
Labels: testing
