Repository canonical/ubuntu-pro-client, pull requests merged in 2024-06, with the labels that each got.

#3141 Release docs for v32
  custom_wordlist.txt
  dev-docs/howtoguides/troubleshoot_security_confinement.md
  docs/explanations/motd_messages.rst
  docs/howtoguides/how_to_better_visualise_fixing_multiple_cves.rst
  docs/howtoguides/how_to_collect_logs.rst
  docs/includes/pro-fix-simple-case.txt
  docs/references/api.rst
Labels: docs

#3143 Make docs and docs-devel consistent
  .readthedocs.yaml
  CONTRIBUTING.md
  dev-docs/howtoguides/release_a_hotfix.md
  dev-docs/howtoguides/release_a_new_version.md
  dev-docs/howtoguides/testing.md
  dev-docs/howtoguides/troubleshoot_apt_news_security_confinement.md
  docs-requirements.txt
  docs/_static/css/custom.css
  docs/_static/css/furo_colors.css
  docs/explanations.rst
  docs/explanations/which_services.rst
  docs/explanations/why_trusty_is_no_longer_supported.rst
  docs/howtoguides.rst
  docs/howtoguides/configure_proxies.rst
  docs/howtoguides/enable_in_dockerfile.rst
  docs/howtoguides/enable_index.rst
  docs/howtoguides/enable_landscape.rst
  docs/howtoguides/enable_realtime_kernel.rst
  docs/howtoguides/get_token_and_attach.rst
  docs/howtoguides/how_to_attach_with_config_file.rst
  docs/howtoguides/how_to_better_visualise_fixing_multiple_cves.rst
  docs/howtoguides/pro-dashboard-service-toggles.png
  docs/howtoguides/trusty_legacy_support.rst
  docs/index.rst
  docs/references.rst
  docs/references/api.rst
  docs/tutorials/basic_commands.rst
Labels: docs

#3111 Updated plan api docs to include the current status field
  docs/explanations/how_to_interpret_output_of_fix_plan_api.rst
  docs/howtoguides.rst
  docs/howtoguides/how_to_know_if_system_affected_by_a_list_of_cves.rst
  docs/references/api.rst
Labels: next, docs

#3139 Apparmor dpkg foreign arch
  debian/apparmor/ubuntu_pro_esm_cache.jinja2
  features/steps/machines.py
Labels: next

#3116 docs: Adding howto guides for CVEs/USN
  docs/explanations/fix_scenarios.rst
  docs/howtoguides.rst
  docs/howtoguides/fix_how_to_better_visualise_fixing_multiple_cves.rst
  docs/howtoguides/fix_how_to_know_if_system_affected_by_cve.rst
  docs/howtoguides/fix_how_to_know_what_the_fix_command_would_change.rst
  docs/howtoguides/fix_how_to_not_fix_related_usns.rst
  docs/howtoguides/fix_how_to_resolve_given_cve.rst
  docs/howtoguides/fix_index.rst
Labels: next, docs

#3094 Deprecation policy (SC-1625)
  custom_wordlist.txt
  docs/explanations.rst
  docs/explanations/deprecation_policy.rst
Labels: docs

#3171 release process: add announcement post to post-release actions
  dev-docs/howtoguides/release_a_new_version.md
Labels: docs

#3162 Update real-time ubuntu page
  custom_wordlist.txt
  docs/howtoguides/enable_index.rst
  docs/howtoguides/enable_realtime_kernel.rst
Labels: docs

#3151 docs: add explanation on how to use custom APT configuration
  docs/conf.py
  docs/howtoguides.rst
  docs/howtoguides/use_custom_apt_config.rst
Labels: docs
